.sidebar {
  background-color: #002b5c;
  color: white;
  padding: 1rem;
  width: 250px;
  height: 100vh;
  overflow-y: auto;

  h3 {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;

    mat-icon {
      margin-right: 0.5rem;
    }
  }

  .menu-item {
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-bottom: 0.4rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0051b2;
    }

    &.expanded {
      background-color: #0051b2;
    }

    mat-icon {
      font-size: 20px;
    }
  }

  .submenu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1.5rem;
  
  }
}
