<div class="sidebar">
  <h3>
    <mat-icon>list_alt</mat-icon> Incidências
  </h3>

  <ng-container *ngFor="let entry of techniquesByCategory | keyvalue">
    <div class="menu-item" (click)="toggleCategory(entry.key)" [class.expanded]="expandedCategory === entry.key">
      {{ entry.key }}
      <mat-icon>
        {{ expandedCategory === entry.key ? 'expand_less' : 'chevron_right' }}
      </mat-icon>
    </div>

    <ul *ngIf="expandedCategory === entry.key" class="submenu">
      <li *ngFor="let technique of entry.value; let i = index" 
          (click)="selecionarTecnica(technique); setActive(i)"
          [class.active]="activeIndex === i">
        <a [routerLink]="['/tecnica', technique.id]">{{ technique.name }}</a>
      </li>
    </ul>
  </ng-container>
</div>