/* Container geral da aplicação */
.app-container {
  display: flex;
  height: 100vh !important;        /* Ocupa 100% da altura da tela */
  width: 100vw !important;         /* Ocupa 100% da largura da tela */
  overflow: hidden;     /* Evita barras desnecessárias */
}

/* Sidebar lateral */
.sidebar {
  width: 260px;          /* Ajuste conforme o tamanho real do menu */
  background-color: #002e5b;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
}

/* Conteúdo principal */
.main-content {
     height: 100vh !important;        /* Ocupa 100% da altura da tela */
  width: 100vw !important;      
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #f8f9fc; /* fundo claro */
  display: flex;
  flex-direction: column;
}

/* Mensagem de nenhuma técnica */
.no-technique {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #777;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #f4f6f8;
}

