.button-divider {
  margin-top: 2rem;
}

.example-card {
  width: 250px;
  font-size: 0.875rem;
  height: 250px;
}

mat-card-image {
  height: 140px;
  object-fit: cover;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 250px;
  height: 250px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}