<div *ngIf="localTechnique" class="card active">
  <h3>{{ localTechnique.name }}</h3>
  <div class="values-container">
    <div class="value-group">
      <label>kV</label>
      <input type="number" #kvInput [(ngModel)]="localTechnique.kv" [disabled]="!isEditing">
    </div>

    <div class="value-group">
      <label>mAs</label>
      <input type="number" [(ngModel)]="localTechnique.mas" [disabled]="!isEditing">
    </div>

    <div class="value-group">
      <label>mA</label>
      <input type="number" [(ngModel)]="localTechnique.ma" [disabled]="!isEditing">
    </div>

    <div class="value-group">
      <label>Distância (cm)</label>
      <input type="number" [(ngModel)]="localTechnique.distance" [disabled]="!isEditing">
    </div>
  </div>

  <div class="button-group">
    <button *ngIf="!isEditing" class="edit-btn" (click)="toggleEdit()">Editar</button>

    <ng-container *ngIf="isEditing">
      <button class="save-btn" (click)="saveChanges()">Salvar</button>
      <button class="cancel-btn" (click)="cancelEdit()">Cancelar</button>
    </ng-container>

    <button class="delete-btn" (click)="onDelete.emit(technique.id)">Excluir</button>
  </div>

  <!-- <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>

    <img mat-card-image
      src="https://maiscursoslivres.com.br/cursos/posicionamento-radiografico--membros-superiores.webp"
      alt="Photo of a Shiba Inu">
  </mat-card> -->

</div>
