<div class="app-container">

  <app-navbar (tecnicaSelecionada)="onTecnicaSelecionada($event)"></app-navbar>

  <div class="main-content">
    <app-header (addTechnique)="openAddTechniqueModal()"></app-header>

    <ng-container *ngIf="currentTechnique; else noTechnique">
      <app-technique-card  [technique]="techniqueSelecionada" [technique]="currentTechnique"
        (delete)="onDeleteTechnique($event)" (tecnicaSalva)="atualizarMenu()">
      </app-technique-card>
    </ng-container>

    <ng-template #noTechnique>
      <div class="no-technique">
        <p>Nenhuma técnica selecionada.</p>
      </div>
    </ng-template>

    <app-footer></app-footer>
  </div>

  <app-add-technique-modal *ngIf="showAddModal" (close)="closeAddTechniqueModal()" (save)="addNewTechnique($event)">
  </app-add-technique-modal>

  <app-confirm-modal *ngIf="showConfirmModal" [message]="confirmMessage" (close)="closeConfirmModal()"
    (confirm)="confirmDelete()">
  </app-confirm-modal>
</div>
